@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <p>Manage my <a asp-controller="Vendor" asp-action="GetVendorsByGroup">vendors</a></p>
</div>
